# MacOS directory metadata
**/.DS_Store

# Python cache
**/__pycache__

# Market databases
src/server/market.db
src/server/users.db

src/market-frontend/node_modules/
src/market-frontend/.ruler/
src/market-frontend/target/
.env
