# MacOS directory metadata
**/.DS_Store

# Python cache
**/__pycache__

# Market databases
src/server/market.db
src/server/users.db
src/server/market.db-shm
src/server/market.db-wal

src/market-frontend/node_modules/
src/market-frontend/.ruler/
src/market-frontend/target/
.env

# Report cache
**/.ipynb_checkpoints
**/statistics.html
**/statistics.csv
**/best_traders_plot.html
**/best_traders_plot.pdf
**/best_traders_plot.png
